<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boai.springbootrbq.Mapper.UserMapper">
    <select id="getUserById" parameterType="java.lang.Long"
            resultType="com.boai.springbootrbq.Model.User">
        SELECT id,name,email FROM `User`
        WHERE id = #{id}
    </select>

    <select id="listUser" resultType="com.boai.springbootrbq.Model.User">
        SELECT id,name,email
        FROM `User`
    </select>

    <select id="getUserMap" resultType="java.util.Map">
        SELECT
        id    AS id,
        name  AS name,
        email AS email
        FROM `User`
        WHERE id = #{id}
    </select>

    <!--
        <select id="getUserMapByName" resultType="java.util.Map">
            SELECT
            id    AS id,
            name  AS name,
            email AS email
            FROM `User`
            WHERE name LIKE CONCAT('%',#{name},'%')
        </select>
    -->

    <select id="getUserMapByName" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
        id AS id,
        name AS name,
        email AS email
        FROM `User`
        WHERE 1=1
        <if test="_parameter != null and _parameter != ''">
            <bind name="pattern" value="'%' + _parameter + '%'"></bind>
            and name LIKE #{pattern}
        </if>
    </select>

</mapper>
